@media (max-width:1200px) {
    

}

@media (max-width:991px) {
    .container {
        max-width: 750px;
    }
    .title {
        font-size: 27px;
    }
    .header {
        margin-right: 15px;
    }
    .promo {
        padding-bottom: 75px;
        background-position: 20% 0%;
        &__wrapper {
            margin-right: 30px;
        }
        &__header {
            font-size: 40px;
        }
        &__icon {
            font-size: 13px;
        }
    }
    .advantages {
        padding: 50px 0 60px 0;
        &__wrapper {
            margin-top: 55px;
        }
        &__item {
            width: 225px;
        }
        &__subtitle {
            margin-top: 33px;
            font-size: 17px;
        }
        &__descr {
            margin-top: 23px;
            font-size: 12px;
        }
    }
    .consultation {
        padding: 80px 0 72px 30px;
    }    
    .carousel {
        &__inner {
            width: 700px;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        padding-bottom: 60px;
        &__content {
            justify-content: center;
        }        
    }
    .catalog-item {
        &:nth-child(odd) {
            margin-right: 30px;
        }
    }
    .review {
        padding-bottom: 50px;
        &__img {
            margin: 0 35px 0 20px;
            width: 145px;
            height: 145px;
        }
        &__descr {
            width: 530px;
            h4 {
                margin-right: 15px;
                font-size: 14px;
            }
        }
    }  
}



@media (max-width:767px) {
    .header {
        &__official {
            display: none;
        }
        &__phone {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
    .promo {
        padding-bottom: 65px;
        background-position: 30% 0%;
        &__header {
            font-size: 33px;
        }
        &__subheader {
            font-size: 21px;
        }
        &__icons {
            margin-top: 60px;
            width: 375px;
        }        
    }
    .advantages {
        padding: 45px 0 55px 0;
        &__wrapper {
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 20px;
            width: 350px;
        }
        &__subtitle {
            margin-top: 20px;
        }
        &__descr {
            margin-top: 15px;
        }
    } 
    .consultation {
        padding: 70px 30px 57px 30px;
        min-height: 625px;
        .title {
            line-height: 35px;
            text-align: center;
            font-size: 23px;
        }
        &__descr {
            margin-top: 45px;
            text-align: center;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 35px;
        }
    } 
    .carousel {
        &__inner {
            width: 570px;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        padding-bottom: 40px;
        &__tabs {
            margin-top: 45px;
            flex-wrap: wrap;
            width: auto;
        }
        &__tab {
            margin-bottom: 20px;
        }
        &__content {
            margin-top: 20px;
        }
    }    
    .review {
        padding-bottom: 35px;
        &__item {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__img {
            margin: 0 auto;
            margin-bottom: 35px;
        }
        &__descr {
            width: 530px;
            text-align: center;
            h4 {
                margin-right: 15px;
                font-size: 14px;
            }
        }
    }     

    
}

@media (max-width:650px) {
    .catalog__content {
        flex-direction: column;
        align-items: center;
    }
    .catalog-item {
        &:nth-child(odd) {
            margin-right: 0px;
        }
    }
}

@media (max-width:575px) {
    .title {
        font-size: 20px;
    }
    .button {        
        &_main {
            margin-top: 50px;
            width: 250px;
            height: 50px;
            font-size: 15px;
        }
    }
    .header {
        margin-right: 10px;      
        &__logo {
            margin-right: 10px;
        }
        &__phone {
            display: none;
        }
    }
    .promo {
        min-height: 600px;
        padding-bottom: 50px;
        background-position: 40% 0%;
        &__wrapper {
            margin-top: 70px;
            margin-right: 10px;
        }
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 18px;
            line-height: 27px;
        }
        &__icons {
            margin-top: 55px;
            width: 300px;
            align-items: flex-end;
        }
    }
    .advantages {
        padding: 40px 0 45px 0;
        &__item {
            width: 275px;
        }
    }
    .consultation {
        padding: 50px 20px 40px 20px;
        min-height: 525px;
        .title {
            line-height: 35px;
            text-align: center;
            font-size: 18px;
        }
        &__descr {
            margin-top: 35px;
            text-align: center;
            font-size: 14px;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 35px;
            width: 250px;
        }
    } 
    .carousel {
        padding-bottom: 40px;
        &__inner {
            width: 90%;
            img {
                width: 100%;
            }
        }
    }    
    .review {
        &__item {
            margin-top: 20px;
        }
        &__descr {
            width: 300px;
            h4 {
                font-size: 13px;
            }
        }
    }
    .footer {
        &__info {
            padding: 35px 0;
            width: 300px;
            height: 230px;
        }
        &__addr {
            margin-bottom: 25px;
            font-size: 16px;
        }
        &__phone {
            margin-bottom: 30px;
        }    
    }
    .modal {
        width: 280px;
        padding: 20px;
        margin-top: 10px;
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 12px;
        }
        .feed-form {
            width: 240px;
            font-size: 12px;
        }
        &__close {
            position: absolute;
            top: 0;
            right: -40px;
            font-size: 40px;
            line-height: 20px;
        }
    }    
       
}
@media (max-width:360px) {
    .modal__close {
        position: absolute;
        top: 0;
        right: -22px;
        font-size: 40px;
        line-height: 20px;

    }
}