
@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl-500.eot');
	src: local('MuseoSansCyrl-500'),
		url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl-700.eot');
	src: local('MuseoSansCyrl-700'),
		url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl-300.eot');
	src: local('MuseoSansCyrl-300'),
		url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl-900.eot');
	src: local('MuseoSansCyrl-900'),
		url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-900.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?ya1jug');
	src:  url('../fonts/icomoon.eot?ya1jug#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon.ttf?ya1jug') format('truetype'),
	  url('../fonts/icomoon.woff?ya1jug') format('woff'),
	  url('../fonts/icomoon.svg?ya1jug#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-instagram:before {
	content: "\e900";
	color: #fff;
  }
  .icon-pinterest:before {
	content: "\e901";
	color: #fff;
  }
  .icon-facebook:before {
	content: "\e902";
	color: #fff;
  }
  